#ranking {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .2s ease-in-out;
}
#ranking .my-ranking {
  margin: auto;
  width: 60%;
}
#ranking .my-ranking h3 {
  font-size: 2.5vh;
  font-weight: 500;
  margin-bottom: 2vh;
  text-align: center;
}
#ranking .my-ranking-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1.3px #69b0d1 solid;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 2vh 5vh;
  margin: 2vh 0 10vh;
}
#ranking h1{
  font-size: 4vw;
  font-weight: 500;
  margin: 0 0 6vh;
  font-family: 'Courier New', Courier, monospace;
}
#ranking .my-ranking p{
  font-size: 2.5vh;
  font-weight: 500;
}
#ranking .my-ranking-box img {
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  object-fit: cover;
}
.total-ranking {
  margin: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all .2s ease-in-out;
}
.ranking-wrap {
  flex-wrap: wrap;
  justify-content: start;
}
#ranking hr {
  color: black;
}