#officer .create-new {
  margin-top: 7vh;
  border: solid 1px rgb(207, 207, 207);
  border-radius: 20px;
  padding: 2vw;
  display: block;
}
#officer h1 {
  font-size: 2vh;
  font-weight: 400;
  margin: 1vh 0;
}
.create-new h5 {
  font-size: 2vh;
  color: rgb(250, 94, 67);
}